body {
	background-color: #EEEEEE;
	background: url(http://wallpapercave.com/wp/TfTdoPd.png);
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top center !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed;
	color: #FFFFFF;
	padding-bottom: 80px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
}
h5,
h6 {
  font-weight: 400;
}

a {
	text-decoration: none;
}

.nav {
	display: inline;
	font-size: 32;
}

.nav .header {
	float: left;
	margin: 16px 24px 16px 24px;
	font-weight: bold;
}

.nav ul {
    list-style-type: none;
    margin: 16px 16px 16px 16px;
    padding: 0px;
	float: right;
}

.nav li {
	display: inline;
	font-size: 24;
	margin: 0 32px 0 0px;
	padding: 8px;
}

.nav li a {
	color:inherit;
	text-decoration: none;
}

.git_icon {
	height: 32px;
	width: 32px;
	vertical-align: text-bottom;
}

.info_block {
	clear:both;
	margin: 0 10% 0 10%;
	padding: 100px 0 10px 0;
}

.info_block .info_header {
	font-size: 28;
	font-weight: 500;
	padding-bottom: 10px;
}

.info_block .info_body {
	font-size: 24;
}

#members {
	clear:both;
	margin: 0 10% 0 10%;
	padding: 100px 0 10px 0;
}

.member_panel {
	display: inline;
}

.member_panel .member_header {
	font-size: 28;
	font-weight: 500;
	padding-bottom: 20px;
}

.member_panel ul {
    list-style-type: none;
    margin: 16px 16px 16px 0px;
    padding: 0px;
}

.member_panel li {
	display: inline;
	font-size: 24;
	margin: 0 32px 0 0px;
	padding: 8px;
}

.member_panel ul li img{
	width: 96px;
	height: 96px;
	vertical-align: text-top;
	padding-right: 16px;
}
