body {
	background-color: #EEEEEE;
	background: url("../data/images/back.jpg");
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top center !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
}
h5,
h6 {
  font-weight: 400;
}

a {
	text-decoration: none;
}

.nav .header {
	float: left;
	margin: 16px 64px 16px 64px;
	font-size: 32;
}

.nav ul {
    list-style-type: none;
    margin: 16px 64px 16px 64px;
    padding: 0px;
	float: right;
}

.nav li {
	display: inline;
	font-size: 24;
	margin: 0 32px 0 0;
	padding-bottom: 8px;
	padding-top: 8px;
}

.nav li a {
	display: inline;
	font-size: 24;
	margin: 0 32px 0 0;
	padding-bottom: 8px;
	padding-top: 8px;
	color:inherit;
	text-decoration: none;
}

